<html>
  <head>
  <title>The Urban Urban Dictionary</title>
    <style>
      h1 {
          text-align:center;
          margin-top: 200px;
         }
      h2 {
          text-align:center
         }
      h3 {
          text-align: center;
          margin-bottom: 0px;
         }
      h6 {
          text-align: center;
          margin: 0px;
         }
      a:link{
          text-decoration: none;
          color: red;
         }
      a:visited {
          color: red;
         }
    </style>
  </head>
  <body>
    <h1>OOPS...</h1>
    <h2> something went wrong...</h2>
    <h3><a href="/">TRY AGAIN?</a></h3>
    <h6>click here</h6>
  </body>
</html>
